########################################
# Bluetooth (NimBLE Stack)
########################################
CONFIG_BT_ENABLED=y
CONFIG_BT_NIMBLE_ENABLED=y
# NimBLE en PSRAM para liberar Internal RAM para el Kernel lhOS
CONFIG_BT_NIMBLE_MEM_ALLOC_MODE_EXTERNAL=y
CONFIG_BT_NIMBLE_MAX_CONNECTIONS=3
CONFIG_BT_NIMBLE_SVC_GAP_DEVICE_NAME="lhOS_S3"
# Soporte para extensiones de datos Bluetooth 5
CONFIG_BT_NIMBLE_HCI_UART_BAUD=460800

########################################
# WiFi & Networking
########################################
CONFIG_ESP_WIFI_ENABLED=y
# Habilitar soporte para WiFi 6 (Protocolo TWT y 802.11ax)
CONFIG_ESP_WIFI_SOFTAP_SAE_SUPPORT=y
CONFIG_ESP_WIFI_AMPDU_TX_ENABLED=y
CONFIG_ESP_WIFI_AMPDU_RX_ENABLED=y
# Buffers dinámicos para evitar overhead de memoria estática
CONFIG_ESP_WIFI_DYNAMIC_TX_BUFFER=y
CONFIG_ESP_WIFI_DYNAMIC_RX_BUFFER_NUM=32

########################################
# Coexistencia (Radio Sharing)
########################################
# Vital para que WiFi y BLE no colisionen en el S3
CONFIG_ESP_COEX_SW_COEXIST_ENABLE=y
# Preferencia a Bluetooth para evitar desconexiones en GATT
CONFIG_BT_CTRL_COEX_PHY_CONFIG_SUPPORT=y
CONFIG_ESP_COEX_PREFER_BT=y

########################################
# FreeRTOS & System Performance
########################################
# Frecuencia del Tick a 1000Hz para precisión de 1ms
CONFIG_FREERTOS_HZ=1000
# Monitor de Stack para robustez (FMEA)
CONFIG_FREERTOS_WATCHDOG_ENABLE=y
# Priorizar la ejecución en Core 1 para la lógica de lhOS
CONFIG_FREERTOS_UNICORE=n
# Habilitar soporte para C17 y optimizaciones de Xtensa
CONFIG_COMPILER_CXX_EXCEPTIONS=n
CONFIG_COMPILER_STACK_CHECK_MODE_NORM=y